{{ define "main" }}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h1>

    <div class="post-content">
      <div>
        {{ .Content }}
        <table>
          <thead>
            <tr>
              <th>Preview</th>
              <th>HTML</th>
              <th>PDF</th>
              <th>PPTX</th>
            </tr>
          </thead>
          <tbody>
            {{ range site.Data.teaching_slides }}
            <tr>
              <td>
                <strong>{{ .title }}</strong>
                <br />
                {{ .description }}
              </td>
              <td>{{ with .html }}<a href="{{ partial "siteurl.html" (dict "u" . "p" $) }}">View (recommended)</a>{{ else }}&mdash;{{ end }}</td>
              <td>{{ with .pdf }}<a href="{{ partial "siteurl.html" (dict "u" . "p" $) }}">Download PDF</a>{{ else }}&mdash;{{ end }}</td>
              <td>{{ with .pptx }}<a href="{{ partial "siteurl.html" (dict "u" . "p" $) }}">Download PPTX</a>{{ else }}&mdash;{{ end }}</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </article>
{{ end }}
